[submodule "sub-editors/model"]
	path = sub-editors/model
	url = https://github.com/zopenge/link-editor-model.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/zopenge/node-scripts.git
